* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Heebo", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.navList {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.navList a {
  font-weight: 500;
  font-size: 20px;
  line-height: 29.38px;
  color: #000000;
}

.navList a:hover {
  color: #c52d2d;
}

.imgSection {
  min-width: 246px;
}
.imgSection img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.logo a {
  font-size: 20px;
  line-height: 29.38px;
  color: #000000;
}

.hero {
  display: flex;
  min-height: 100vh;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.heroContent h1 {
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
  margin-bottom: 60px;
}

.heroContent p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
  margin-bottom: 50px;
}

.heroContent button {
  background-color: #ff6464;
  color: #ffffff;
  font-size: 20px;
  border-radius: 2px;
  line-height: 29px;
  border: none;
  padding: 10px;
}

.heroContent button:hover {
  background-color: #b34040;
  cursor: pointer;
  font-weight: 300;
}

.contentSection {
  background-color: #edf7fa;
  padding: 25px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postHeader .recentPost {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
  height: 60px;
}

.postHeader .viewAll {
  height: 60px;
  text-decoration: underline;
}

.allPosts {
  display: flex;
  gap: 20px;
}

.allPosts .postCard {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0px #bbe1fa40;
  padding: 24px;
}

.allPosts .postCard h2 {
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 10px;
}

.allPosts .postCard .postDate {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
  margin-bottom: 20px;
}

.allPosts .postCard .postInfo {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #21243d;
}

.thirdSection {
  margin-bottom: 83px;
}

.thirdSection .featuredWork {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
  margin-bottom: 18px;
}

.workCards {
  display: flex;
  gap: 34px;
  border-bottom: 1px solid #e0e0e0;
  padding: 30px;
}

.workCards .card h1 {
  font-weight: 700px;
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 16px;
}

.workCards .yearSpan {
  display: flex;
  gap: 36px;
  margin-bottom: 17px;
  align-content: center;
}

.workCards .yearSpan span {
  width: 374px;
  height: 34px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695a4;
}

.thirdSection .year {
  width: 62px;
  height: 25px;
  background-color: #142850;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
}

.card p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 23px;
  color: #21243d;
  margin-bottom: 20px;
}

.workImages img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}

footer {
  padding-bottom: 54px;
}

.footerIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  gap: 35px;
  margin-bottom: 26px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .header {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
    height: calc(100vh - 100px);
  }
  .imgSection {
    order: -1;
  }
  .imgSection img {
    width: 170px;
  }
  .heroContent h1 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 21px;
  }
  .heroContent p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 27px;
  }
  .heroContent button {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
  }
  .heroContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .postHeader .viewAll {
    display: none;
  }
  .allPosts {
    display: flex;
    flex-direction: column;
  }
  .workCards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .postSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workImages {
    width: 100%;
  }
  .featuredWork {
    text-align: center;
    font-size: 18px;
  }
  .workImages img {
    width: 100%;
    height: 100%;
  }
  .card .yearSpan .span {
    font-weight: 400;
    font-size: 16px;
  }
  .footerIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
